<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UrnVotes</title>
  </head>
  <body>
    <form action="/criar_partido" method="post">
      <fieldset>
        <div>
          <label for="nome">Nome:</label>
          <input type="text" name="nome">
        </div>
        <div>
          <label for="categoria">Líder:</label>
          <input type="text" name="lider">
        </div>
        <div>
          <label for="categoria">Data fundação:</label>
          <input type="date" name="data_fundacao">
        </div>
        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    </fieldset>
    </form>
  </body>
</html>
