<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cadastrar Fabricante</title>
  </head>
  <body>
    <form action="/criar_fabricante" method="post">
      <fieldset>
        <div>
          <label for="local">Local:</label>
          <input type="text" name="local">
        </div>
        <div>
          <label for="data_fabricacao">Data Fabricacao:</label>
          <input type="text" name="data_fabricacao">
        </div>
        <div>
          <label for="empresa">Empresa:</label>
          <input type="text" name="empresa">
        </div>
        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    </fieldset>
    </form>
  </body>
</html>
