<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UrnVotes</title>
  </head>
  <body>
    <form action="/criar_funcao" method="post">
      <fieldset>
        <div>
          <label for="nome">Nome:</label>
          <input type="text" name="nome">
        </div>
        <div>
          <label for="nome">Descrição:</label>
          <input type="text" name="descricao">
        </div>
        <div>
            <label for="nome">Setor:</label>
            <input type="text" name="setor">
          </div>
        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    </fieldset>
    </form>
  </body>
</html>
