<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cadastrar Engenheiro</title>
  </head>
  <body>
    <form action="/criar_engenheiro" method="post">
      <fieldset>
        <div>
          <label for="cpf">CPF:</label>
          <input type="text" name="cpf">
        </div>
        <div>
          <label for="nome">Nome:</label>
          <input type="text" name="nome">
        </div>
        <div>
          <label for="formacao">Formação:</label>
          <input type="text" name="formacao">
        </div>
        <div>
          <label for="crea">CREA:</label>
          <input type="text" name="crea">
        </div>
        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    </fieldset>
    </form>
  </body>
</html>
