<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UrnVotes</title>
  </head>
  <body>
    <h1>Editar {{ candidato.nome }}</h1>
    <form action="/criar_edicao" method="post">
      <fieldset>
        <div>
          <label for="nome">Nome:</label>
          <input type="text" name="nome" placeholder="{{ candidato.nome }}">
        </div>
        <div>
          <label for="foto">Foto:</label>
          <input type="file" name="foto" accept="image/*" placeholder="{{ candidato.foto }}">
        </div>

        <div>
          <label for="vice">Vice:</label>
          <select name="vice">
            <!--<option value=""></option>-->
            {% for candidato_vice in candidatos_vice %}
            <option value="{{ candidato_vice.id }}">{{ candidato_vice.nome }}</option>
            {% endfor %}
          </select>
        </div>

        <div>
          <label for="cargo">Cargo:</label>
          <select name="cargo">
            {% for cargo in cargos %}
            <option value="{{ cargo.id }}">{{ cargo.nome }}</option>
            {% endfor %}
          </select>
        </div>

        <div>
          <label for="partido">Partido:</label>
          <select name="partido">
            {% for partido in partidos %}
            <option value="{{ partido.id }}">{{ partido.nome }}</option>
            {% endfor %}
          </select>
        </div>
        <input type="hidden" name="candidato_id" value="{{ candidato.id }}">
        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    </fieldset>
    </form>
  </body>
</html>
