<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User View</title>
  </head>
  <body>
    <h1>Sistema de controle de votos</h1>

    <ul>
      <li><a href="/votar">Votar</a></li>
      <li><a href="/cadastrar_partido">Cadastrar Partido</a></li>
      <li><a href="/cadastrar_cargo">Cadastrar Cargo</a></li>
      <li><a href="/cadastrar_candidato">Cadastrar Candidato</a></li>
      <li><a href="/cadastrar_usuario">Cadastrar Usuário</a></li>
      <li><a href="/cadastrar_empresa">Cadastrar Empresa</a></li>
      <li><a href="/cadastrar_funcao">Cadastrar Função</a></li>
      <li><a href="/cadastrar_grupo">Cadastrar Grupo</a></li>
      <li><a href="/cadastrar_engenheiro">Cadastrar Engenheiro</a></li>
      <li><a href="/cadastrar_responsavel">Cadastrar Responsável</a></li>
    </ul>
  </body>
</html>
