<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Grupos</h1>
    <table>
      <tr>
        <th>Sigla</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Chefe</th>
      </tr>
      {% for grupo in grupos%}
      <tr>
        <td>{{ grupo.sigla }}</td>
        <td>{{ grupo.nome }}</td>
        <td>{{ grupo.descricao }}</td>
        <td>{{ grupo.chefe }}</td>
        <td>
          <form action="/link_alterar_grupo" method="post">
            <input type="hidden" name="sigla" value="{{ grupo.sigla }}">
            <button type="submit" class="btn btn-primary btn-salvar">Editar</button>
          </form>
        </td>
        <td>
          <form action="/remover_grupo" method="post">
            <input type="hidden" name="sigla" value="{{ grupo.sigla }}">
            <button type="submit" class="btn btn-primary btn-salvar">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
