<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Cargos</h1>
    <table>
      <tr>
        <th>Foto</th>
        <th>Nome</th>
        <th>Vice</th>
        <th>Cargo</th>
        <th>Partido</th>
      </tr>
      {% for candidato in candidatos%}
      <tr>
        <td>{{ candidato.foto }}</td>
        <td>{{ candidato.nome }}</td>
        <td>{{ candidato.vice_id }}</td>
        <td>{{ candidato.cargo_id }}</td>
        <td>{{ candidato.partido_id }}</td>

        <td>
        <a href="/editar_candidato/{{ candidato.id }}">Editar</a>
        </td>
        <td>
          <form action="/deletar_candidato" method="post">
            <fieldset>
              <input type="hidden" value="{{ candidato.id }}" name="candidato_id">
              <button type="submit">Excluir</button>
            </fieldset>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
