<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Votos</h1>
    <table>
      <tr>
        <th>Candidato</th>
        <th>Horário</th>
        <th>Região</th>
        <th>Urna</th>
      </tr>
      {% for voto in votos%}
      <tr>

        <td>{{ buscar_candidato(voto.candidato_id).nome}}</td>
        <td>{{ voto.horario }}</td>
        <td>{{ voto.regiao }}</td>
        <td>{{ voto.urna_id }}</td>
        <td>
          <a href="/editar_voto/{{ voto.id }}">Editar</a>
        </td>
        <td>
          <form action="/deletar_voto" method="post">
            <fieldset>
              <input type="hidden" value="{{ voto.id }}" name="voto_id">
              <button type="submit">Excluir</button>
            </fieldset>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
