<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Urnas</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Local</th>
      </tr>
      {% for urna in urnas %}
      <tr>
        <td>{{ urna.id }}</td>
        <td>{{ urna.local }}</td>
        <td><form action="/remover_urna" method="post">
                <input type="hidden" name="id" value="{{ urna.id }}">
              <button type="submit" class="btn btn-primary btn-salvar">Delete</button>
          </form></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
