<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Cargos</h1>
    <table>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Poder</th>
        <th>Local de Trabalho</th>
      </tr>
      {% for cargo in cargos%}
      <tr>
        <td>{{ cargo.nome }}</td>
        <td>{{ cargo.descricao }}</td>
        <td>{{ cargo.poder }}</td>
        <td>{{ cargo.local_trabalho }}</td>
        <td>
          <a href="/editar_cargo/{{ cargo.id }}">Editar</a>
        </td>
        <td>
          <form action="/deletar_cargo" method="post">
            <fieldset>
              <input type="hidden" value="{{ cargo.id }}" name="cargo_id">
              <button type="submit">Excluir</button>
            </fieldset>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
